*{
    margin: 0;

}
.ts-im{
    background-image: url('../image/cat.jpg');
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 500px;
    width: 500px;
    background-size: 300px;
    background-repeat: no-repeat;
    background-blend-mode: color white;
    


button{
    background-color: aquamarine;
    margin: 50px;
    padding: 3px;
    border-radius: 30px;
    
}

p{
    background-color: yellow;
    padding: 20px;
    border: solid;
    text-align: justify;
}

span{
    color: brown;
}