*{
    margin: 0;

}
.header{
    background-image: url('../image/cat.jpg');
    margin: 10px;
    padding: 20px;
    height: 500px;
    background-size: 300px;
    background-repeat: no-repeat;
}


button{
    background-color: aquamarine;
    margin: 50px;
    padding: 3px;
    border-radius: 30px;
    
}

p{
    background-color: yellow;
    padding: 20px;
    border: solid;
    text-align: justify;
}

span{
    color: brown;
}